xsl/tests/xsl.dtd

<!ELEMENT xsl:value-of EMPTY>
<!ATTLIST xsl:value-of select CDATA #REQUIRED>

<!ELEMENT xsl:stylesheet ANY >
<!ATTLIST xsl:stylesheet
	version CDATA #IMPLIED
	xmlns:xsl CDATA #IMPLIED>

<!ELEMENT xsl:template (PCDATA | apply-template | value-of)* >
<!ATTLIST xsl:template match CDATA #REQUIRED>

<!ELEMENT xsl:attribute (PCDATA)>
<!ATTLIST xsl:attribute
	name CDATA #REQUIRED
	test CDATA #IMPLIED>

<!ELEMENT xsl:apply-template EMPTY>