tests/xsl.dtd

<!ELEMENT xsl:value-of EMPTY>
<!ATTLIST xsl:value-of select CDATA #REQUIRED>

<!ELEMENT xsl:stylesheet ANY >
<!ATTLIST xsl:stylesheet
	version CDATA #IMPLIED
	xmlns:xsl CDATA #IMPLIED>

<!ELEMENT xsl:template ANY >
<!ATTLIST xsl:template match CDATA #REQUIRED>

<!ELEMENT xsl:attribute ANY>
<!ATTLIST xsl:attribute
	name CDATA #REQUIRED
	xmlns:xsl CDATA #IMPLIED>

<!ELEMENT xsl:apply-template EMPTY>
