test/AnalyseurXSL/xsl.dtd

<!ELEMENT xsl:stylesheet ANY >
<!ATTLIST xsl:stylesheet
	version CDATA #IMPLIED
	xmlns:xsl CDATA #FIXED "http://www.w3.org/1999/XSL/Transform"
>

<!ELEMENT xsl:template (apply-template | value-of | PCDATA)* >
<!ATTLIST xsl:template match CDATA #REQUIRED>


<!ELEMENT xsl:apply-template EMPTY>

<!ELEMENT xsl:value-of EMPTY>
<!ATTLIST xsl:value-of select CDATA #REQUIRED>

<!ELEMENT xsl:attribute PCDATA>
<!ATTLIST xsl:attribute name CDATA #REQUIRED>
