test/AnalyseurXSL/xsl.dtd

<!ELEMENT stylesheet ANY >
<!ATTLIST stylesheet
	version CDATA #IMPLIED
	xmlns:xsl CDATA #FIXED "http://www.w3.org/1999/XSL/Transform"
>

<!ELEMENT template (apply-template | value-of | PCDATA)* >
<!ATTLIST template match CDATA #REQUIRED>


<!ELEMENT apply-template EMPTY>

<!ELEMENT value-of EMPTY>
<!ATTLIST value-of select CDATA #REQUIRED>

